<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    Splurty was built by <a target="_blank" href="http://github.com/LawrCale">Chris Calendine</a>. Chris is a physician and student web developer that firmly believes medical professionals have much to gain from the IT community.  Our mission to bring technical insight and advances to the medical community in an effort to improve health care access and quality.
  </p>
  <br />
  <p>
    Chris has taught hundreds of medical students and residents at places like Cleveland Clinic Foundation, Vanderbilt University, East Tennessee State University and Rural Community Health Centers.  Back in the roll of student, Chris is training with web development professionals from Vanderbilt University Full Web Development Bootcamp. 
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'CalendinePic.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Chris Calendine</h2>
      <br />
      <p>
        Chris is a physician with more than 20 years of practice experience at medical teaching institutions including Cleveland Clinic Foundation, Vanderbilt University, East Tennessee State University and Rural Community Health Centers. As a student web developer, Chris hopes to continue to promote quality health care by integrating technichal skills into the medical community. 
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
