<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>
  <p>
    This Splurty version was built by <a target="_blank" href="http://github.com/LawrCale">Chris Calendine</a>. Chris is a physician and student web developer that firmly believes medical professionals have much to gain from the IT community.  Our mission is to bring technical insight and advances to the medical community in an effort to improve health care access and quality.
  </p>
  <br />
  <p>
    As a physician, Chris has taught hundreds of medical students and residents at teaching institutions including Cleveland Clinic Foundation, Vanderbilt University, East Tennessee State University and Rural Community Health Centers.  Back in the roll of student, Chris is thankful to train with web development professionals from Vanderbilt University's Full Web Development Bootcamp program. Transitioning from "Antibiotics, ICD-10 and long working hours" to "HTML, Heroku, and longer working hours".
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'CalendinePic.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Chris Calendine</h2>
      <br />
      <p>
        Chris is a physician with more than 20 years of practice experience at medical teaching institutions including Cleveland Clinic Foundation, Vanderbilt University, East Tennessee State University and Rural Community Health Centers. As a student web developer, Chris hopes to continue to promote quality health care by helping integrate technichal skills/innovations into the medical community. 
      </p>
    </div>
  </div>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />
